<div 
  class="bg-white"
  data-controller="property"
>
  <div class="pt-6">

    <div class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8 mb-2">
        <h1 class="font-medium text-3xl"><%= @property.name %></h1>
    </div>
    <div class="mx-auto max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8 flex justify-between text-sm">
            <div>
                <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 inline-block relative" style="bottom: 3px;">
                            <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                        </svg>
                        <%= @property.average_rating.round(2) %> · <%= @property.reviews_count %> reviews
                </span>
                ·
                <span>
                    <%= @property.city %>, <%= @property.state %>, <%= @property.country %>
                </span>
                
            </div>

            <div>
                <%= link_to "", data: { controller: "share", action: "share#share" },class: "mr-4" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline-block cursor-pointer relative" style="bottom: 1px">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" />
                    </svg>
                    <span>Share</span>
                <% end %>

                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  data-controller="favorites"
                  data-favorited="<%= @property.favorited_by?(current_user) %>"
                  data-user-logged-in="<%= user_signed_in? %>"
                  data-user-id="<%= current_user&.id %>"
                  data-property-id="<%= @property.id %>"
                  data-favorited-color="#F47174"
                  data-unfavorited-color="white"
                  data-favorite-id="<%= @property.favorites.find_by(user: current_user)&.id %>"
                  data-action="click->favorites#favorite"
                  fill="<%= @property.favorited_by?(current_user) ? '#F47174' : 'white' %>"       
                  viewBox="0 0 32 32"
                  stroke-width="2px" 
                  stroke="black" 
                  class="w-5 h-5 cursor-pointer inline-block relative bg-transparent" 
                  style="bottom: 1px"
                >   
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z" />
                </svg>
                <span class="cursor-pointer">Save</span>
            </div>
        </div>

    <!-- Image gallery -->
    <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="aspect-auto overflow-hidden block">
            <%= image_tag @property.default_image, class: "w-full h-full object-center object-cover" %>
        </div>
    </div>

    <%= render 'product' %>

    <div class="max-w-2xl sm:px-6 lg:max-w-7xl lg:px-8 mx-auto">
      <hr>
    </div>
    <%= render 'reviews' %>
    
  </div>
</div>

<%= render "shared/modal", modal_trigger_id: "share-modal-trigger", modal_content: "properties/share_property", content_params: { property: @property } %>